{% extends 'base.html' %}

{% block title %}
  About Us - Our Webapp
{% endblock %}

{% block content %}
  <section class="row align-items-center my-5">
    <div class="col-lg-6">
      <h2>About the Project</h2>
      <p>Welcome to our webapp dedicated to visualizing the carbon footprint of our hospital's endoscopy department. Our mission is to bring awareness to the environmental impact of healthcare services while promoting sustainable practices in our facilities. This interactive tool allows users to explore and compare the department's carbon emissions data for February to April of 2022 and 2023, providing valuable insights into the progress made in reducing our ecological footprint.</p>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid rounded-circle" src="about_project_placeholder.png" alt="About the Project Image">
    </div>
  </section>

  <section class="row align-items-center my-5">
    <div class="col-lg-6 order-lg-2">
      <h2>Our Team</h2>
      <p>Our dedicated team comprises of passionate professionals working tirelessly towards improving the sustainability and efficiency of healthcare services. Headed by Prof. Meining, the head of the endoscopy department, our group includes a diverse mix of internal staff and external collaborators committed to minimizing the environmental impact of our operations.</p>
      <p>We believe that consistent monitoring and improvements can go a long way in making a significant difference in mitigating climate change. With this webapp, we strive to promote transparency and encourage greener practices for a more sustainable future in healthcare. Feel free to explore our webapp and join us on this crucial journey towards a healthier environment.</p>
    </div>
    <div class="col-lg-6 order-lg-1">
      <img class="img-fluid rounded-circle" src="our_team_placeholder.png" alt="Our Team Image">
    </div>
  </section>

  <section class="row align-items-center my-5">
    <div class="col-lg-6">
      <h2>Our Collaborators</h2>
      <p>Text about collaborators goes here...</p>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid rounded-circle" src="our_collaborators_placeholder.png" alt="Our Collaborators Image">
    </div>
  </section>
{% endblock %}
