{% extends 'base.html' %}
{% load static %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<div class="row">
    <!-- Center Overview -->
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Center Overview
                <!-- Dropdown to select a center -->
                <select class="custom-select float-right" id="centerDropdown" data-url="{% url 'get_center_details' %}">
                    <option selected>Select Center</option>
                    {% for center in centers %}
                        <option value="{{ center.id }}">{{ center.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="card-body" id="centerCardBody">
                <!-- Content related to the selected center will be shown here -->
            </div>
        </div>
    </div>

    <!-- Product Group Overview -->
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Product Group Overview
                <!-- Dropdown to select a product group -->
                <select class="custom-select float-right" id="productGroupDropdown" data-url="{% url 'get_product_group_details' %}">
                    <option selected>Select Product Group</option>
                    {% for product_group in product_groups %}
                        <option value="{{ product_group.id }}">{{ product_group.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="card-body" id="productGroupCardBody">
                <!-- Content related to the selected product group will be shown here -->
            </div>
        </div>
    </div>
</div>
{% comment %} <div class="col-md-12">
    <div class="card">
        <div class="card-header">
            Pandas Profiling Report
        </div>
        <div class="card-body"> {% endcomment %}
            <!-- Embed the pandas profiling report in an iframe -->
            <iframe src="{% static 'product_emission_report.html' %}" width="100%" height="1000px"></iframe>
        {% comment %} </div>
    </div>
</div> {% endcomment %}
<script src="{% static 'main_frontend.js' %}"></script>
{% endblock %}
